.sectionContribution
  background-color #111
  border-radius 4px
  margin-top 20px

  .sectionContributionButton
    margin 0px 25px
    padding-bottom 40px

  .sectionContributionEntry
    margin 0px 25px
    padding 40px 0px

    &:first-child
      border-bottom 1px dashed #FFF

    .sectionContributionEntryTitle
      font-size 14px
      margin-bottom 5px

    .sectionContributionEntryDescription
      font-size 12px
      font-weight 300
      margin-bottom 10px
      color #BBB

      span
        font-weight bold
        text-transform uppercase
