.sectionFaq
  margin 20px 0px
  padding 5px 35px
  background-color #111
  border-radius 2px

  .sectionFaqEntry
    margin 20px 0px
    padding-bottom 20px
    border-bottom 1px dashed #fff

    &:last-child
      border-bottom none

    .sectionFaqEntryQuestion
      font-family: 'Merriweather', serif;
      margin-bottom 5px
      font-size 18px

    .sectionFaqEntryAnswer
      font-size 14px
      color #888
