.sectionRegistration
  background-color #111
  border-radius 4px
  margin-top 20px

  .sectionRegistrationEntry
    margin 0px 25px
    padding 15px 0px

    .sectionRegistrationEntryCol2
      float left
      width calc(50% - 15px)
      margin-right 15px

    .sectionRegistrationEntryTitle
      font-size 14px
      margin-bottom 5px

    .sectionRegistrationEntryDescription
      font-size 12px
      font-weight 300
      margin-bottom 10px
      color #BBB

    .sectionRegistrationEntryBrowse
      background-color: #222;
      padding: 10px 15px;
      border-radius: 4px;
      font-size 12px

  .sectionRegistrationButton
    margin 0px 25px
    padding-bottom 40px
    padding-top 10px

  .sectionRegistrationEntryAdditional
    margin 5px 0px
    padding 15px 0px
    border-top 1px dotted #BBB
    color #c69c2b
    font-size 12px

@media screen and (max-width: 720px)
  .sectionRegistrationEntryCol2
    float none !important
    width calc(100%) !important
    margin-bottom 15px

@media screen and (min-width: 721px){}
